<template>
    <div class="empty-layout">
        <nuxt/>
    </div>
</template>

<script>
    export default {
        name: "empty"
    }
</script>

<style scoped>
    .empty-layout {
        display: flex;
        justify-content: center;
        padding-top: 5rem;
    }
</style>