<template>
    <section>
        <h1>About page</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eligendi mollitia odio quo! Animi
            expedita odio odit quidem repellat!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque error incidunt necessitatibus nemo nisi
            rem.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </section>
</template>

<script>
    export default {
        name: "about",
        middleware: ['auth']
    }
</script>

<style scoped>

</style>